.list-group-item.post:hover, .list-group-item.post.selected{
    background-color: #ecf0f1;
}
.list-group-item.post{
    cursor: pointer;
}
.media-object.thumbnail{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}